# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
messaging-notifications/infra/.terraform/
messaging-notifications/infra/.terraform.lock.hcl
messaging-notifications/infra/**/.terraform/
messaging-notifications/infra/*.tfstate
messaging-notifications/infra/*.tfstate.*
messaging-notifications/infra/*.tfvars
!messaging-notifications/infra/*.tfvars.example
messaging-notifications/infra/.build/
messaging-notifications/infra/crash.log
messaging-notifications/infra/tfplan*

# Node
node_modules/
npm-debug.log*
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.aws/

# Zip artifacts
*.zip
